node_modules
.pnpm-store
.next
out
dist
build
coverage
.idea
.vscode
.env*
.expo
.turbo
apps/desktop/src-tauri/target
apps/desktop/src-tauri/.cargo
apps/desktop/src-tauri/bin
e2e-results
.DS_Store
pnpm-lock.yaml
